@import url('./components/header/header_styles.css'); /* Import CSS specific to header */
@import url('./components/footer/footer_styles.css');
@import url('./components/sidebar/sidebar.css');
@import url('./components/contact/contact_styles.css');

html {
    background-color: rgb(13, 12, 12);
    overflow-x: hidden;
}
body {

    margin: 0;
    padding: 0;
    height: 100dvh;
    position: relative;
    
}




#navigationBtn {
    position: absolute;
    left: 10px;
    top: 10px;
    height: 50px; width: 50px;
    border-radius: 50%;
    opacity: 0.4;
    border: none;
    background-color: transparent;
    z-index: 100;
    
    
}

.fa-bars {
    color: rgb(255, 255, 255);
    font-size: 1.4rem;
    
}


#navigationBtn:hover{
    cursor: pointer;
    opacity: 1;
   
}

#projectImages {
    height: 300px;
    width: 300px;
    border-radius: 20px;
    padding: 10px;
    
}
.projects_overview {
    width: 100%;
    text-align: center;
    color: white;

   
}
.project {
    display: flex;
    padding: 10px;
    color: white;
    animation: slideInRight .8s linear forwards;
    border-bottom: 2px solid white;
}

.project:last-of-type {
    padding-bottom: 100px;
}


.hide {
    display: none;
 
}



    

@keyframes slideInRight {
    0% {
        background-color: rgb(216, 216, 216);
        transform: translateX(100%);
    }
    100% {
        background-color: transparent;
    }
    
}

@media only screen and (max-width : 600px) {
    
#sidebar {
    width: 100%;
}
section {
    flex-direction: column;
}
    
    
}

