
<form id="contact_form">
    
    <label for="email">Email</label>
   <input name="email" id="email" type="text"> 

   <label for="sender">Name or Company</label>
   <input name="sender" id="sender" type="text"> 

   <label for="title">Title</label>
   <input name="title" id="title" type="text"> 

   <label for="message">Message</label>
   <textarea name="message" id="message" type="text"></textarea>

   <button id="submitBtn">Submit</button>
</form>
<div class="initial-snow">
    <div class="snow">&#10052;</div>
    <div class="snow">&#10052;</div>
    <div class="snow">&#10052;</div>
    <div class="snow">&#10052;</div>
    <div class="snow">&#10052;</div>
    <div class="snow">&#10052;</div>
    <div class="snow">&#10052;</div>
    <div class="snow">&#10052;</div>
    <div class="snow">&#10052;</div>
    <div class="snow">&#10052;</div>
    <div class="snow">&#10052;</div>
    <div class="snow">&#10052;</div>
    <div class="snow">&#10052;</div>
    <div class="snow">&#10052;</div>
    <div class="snow">&#10052;</div>
    <div class="snow">&#10052;</div>
    <div class="snow">&#10052;</div>
    <div class="snow">&#10052;</div>
    <div class="snow">&#10052;</div>

</div> 
