.show {
    position: absolute;
    display: flex;
    justify-content: center;
    z-index: 100;
    width: 40%;
    background-color: rgba(18, 18, 18, 0.9);
    left: 0;
    top: 0;
    bottom: 0;
    
    
}

.show ul{
    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: center;
    height: 100%;
    
    
}

.show li {
    margin: 50px;
    color: black;
    list-style: none;
    border: none;
    text-decoration: none;
    
}
.show button {
    color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    min-width: 200px;
    background-color: transparent;
    border: none;
    font-size: 1rem;
}
.show button:hover {
    cursor: pointer;
}

.hide {
    display: none;
 
}

.show ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    
}

.show li {
    margin: 50px;
    color: black;
    list-style: none;
    border: none;
    text-decoration: none;
    
}
.show button {
    color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    min-width: 200px;
    background-color: transparent;
    border: none;
    font-size: 1rem;
}
.show button:hover {
    cursor: pointer;
}


@media only screen and (max-width : 600px) {
    
    #sidebar {
        width: 100%;
    }
    section {
        flex-direction: column;
    }
        
        
    }