footer {
    background-color: rgba(0,0,0,0.5);
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 100px;
}
footer ul {
   list-style: none;
   display: flex;
  

}
footer ul li {
     
    border: none;
}

footer button {
    background-color: transparent;
    border: none;
}
footer button:hover {
    cursor: pointer;
}
footer ul li a {
    color: rgb(213, 134, 134);
    font-style:italic;
    border: none;
    outline: none;
    border-style: none;
    
    
}

.fa-angle-up {
    color: white;
    height: 500px;
    width: 500px;
}
.upBtn {
    background-color: red;
    width: 100%;
}